@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    /* background-color: aliceblue; */
    background-image: url("https://images2.minutemediacdn.com/image/upload/c_crop,h_1192,w_2121,x_0,y_111/v1554740077/shape/mentalfloss/16253-istock-874688920.jpg?itok=9r0m1b4G");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 50px auto;
}

.column-1 , .column-2{
    width: 500px;
    height: 500px;
}

button{
    width: 150px;
    height: 42px;
    border-radius: 3px;
    background-color: turquoise;
    border: 2px solid silver;
    font-size: 20px;
    cursor: pointer;
}

.btn{
    display: flex;
    justify-content: center;
    column-gap: 45px;
    margin-left: 150px;
    margin-top: 100px;
}

h2{
    font-size: 36px;
    font-weight: 900;
}

.result{
    display: flex;
    justify-content: center;
    height: 100px;
    font-size: 36px;
    font-weight: 900;
    color: rosybrown;
    margin-left: 200px;
    margin-top: 100px;
}

button:hover{
    background-color: rgb(15, 81, 74);
    color: goldenrod;
}